COMPOSE_PROJECT_NAME=duaneko

FRONTEND_PORT=      2280
API_PORT=           2281
POSTGRES_PORT=      2282
PGADMIN_PORT=       2283     
REDIS_PORT=         2284

POSTGRES_DB=duaneko_db
POSTGRES_USER=duaneko
POSTGRES_PASSWORD=duaneko_dev_pw

NEXT_PUBLIC_API_URL=http://localhost:2281

PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=admin

# API
API_SECRET_KEY=your-secret-key-here
API_ALGORITHM=HS256
API_ACCESS_TOKEN_EXPIRE_MINUTES=30